.pizza-list-container {
    max-width: 600px;
    margin: 30px auto 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pizza-list-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.pizza-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.pizza-item {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.pizza-info {
    display: flex;
    align-items: center;
    grid-column: 1 / span 2;
}

.add-button {
    grid-column: 4;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-button:hover {
    background-color: #0056b3;
}

.add-button:active {
    transform: scale(0.9);
}

.info-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 8px;
    width: auto;
}

.info-button:hover {
    background-color: #ddd;
}

.info-button:active {
    transform: scale(0.9);
}

.pizza-name {
    font-weight: bold;
    color: #555;
}

.pizza-price {
    color: #888;
    min-width: 60px;
    margin-left: 14px; /* Добавляем отступ слева */
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}
